<h1>Surveys</h1>

<h3>Create a Survey</h3>

<form action="/surveys" method="post">
  <div class="form-group">
    <label for="name">Survey Name</label>
    <input type="text" class="form-control" name="name" placeholder="e.g. Which Mario character are you?">
  </div>

  <button type="submit" class="btn btn-primary btn-md">Submit</button>
</form>

<table class="table">
  <tr>
    <th>Survey Name</th>
    <th>Number of Questions</th>
    <th>Edit</th>
    <th>Delete</th>
    <th>Take Survey</th>
  </tr>
  <% if @surveys %>
  <% @surveys.each do |survey| %>
  <tr>
    <td><a href="/surveys/<%= survey.id %>"><%= survey.name %></a></td>
    <td><%= survey.num_questions %></td>
    <td><a href="/surveys/<%= survey.id %>/edit"><img width="20px" height="20px" src="/mushroom.png" alt="edit"/></a></td>
    <td><a href="/surveys/<%= survey.id %>/delete"><img width="20px" height="20px" src="/bowser.png" alt="delete"/></a></td>
    <td><a href="/surveys/<%= survey.id %>/take_survey"><img width="20px" height="20px" src="/star.png" alt="" /></a></td>
  </tr>
  <% end %>
  <% end %>
</table>
